version: '3'
services:
  db:
    image: postgres:latest
  pgadmin:
    image: dpage/pgadmin4  
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
